form{
    margin-top: 20%;
    text-align: left;
 }

.fa-solid{
    font-size: 100px;
    color: aliceblue;
}

body{
    background-color: #0a008fb4;
}

.label-user{
    color: darkgray important;
}

.form-label{
    color: aliceblue;
    font-size: 20px;
}

.btn{
    width: 40%;
}

.button{
    text-align: center;
    margin-top: 30px;
}

.img_cad{
    margin-top: 80px;
}